@model PVRA.ModelViews.PeriodoModel

@{
    ViewBag.Title = "Período";
}

<h2>Período</h2>

@using (Html.BeginForm("ProductosVendidos", "Reportes", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.FechaInicio, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FechaInicio, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FechaInicio)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaFin, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.FechaFin, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FechaFin)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Mostrar" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $('#FechaInicio').datepicker({ format: "dd/mm/yyyy" });
            $('#FechaFin').datepicker({ format: "dd/mm/yyyy" });
        });
    </script>
}
