@model IEnumerable<PVRA.Models.InvertarioProductos>

@{
    ViewBag.Title = "Inventario";
}


<div class="container">
    <div class="panel panel-form col-md-9">
        <h2>Inventario de Productos</h2>
        <p>
            @Html.ActionLink("Agregar inventario de Producto", "Create", null, new { @class = "btn btn-info" })
        </p>
        <table class="table table-bordered table-striped dynamic">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Producto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CostoUnitario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Existencia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color.DescricionCompleta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CostoUnitario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Existencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Borrar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>