@model IEnumerable<PVRA.Models.EntradaProductos>

@{
    ViewBag.Title = "Confección de Productos";
}

<div class="container">
    <div class="panel panel-form col-md-12">
        <h2>Lista de Ventas</h2>
        <p>
            @Html.ActionLink("Agregar Producto Confeccionado", "Create", null, new { @class = "btn btn-info" })
        </p>
        <table class="table table-bordered table-striped dynamic">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Producto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Importe)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Observacion)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fecha)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto.DescripcionCompleta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color.DescricionCompleta)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Importe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Observacion)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" }) |
                            @Html.ActionLink("Borrar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
