@model PVRA.Models.BaseTemporal.MaterialesUtilizados

@using (Html.BeginForm("PartialMaterial", "ProductoConfeccionado", new { ProductoConfeccionadoId = @ViewBag.ProductoConfeccionadoId }, FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.DropDownList("InvertarioMaterialesId")
            @Html.ValidationMessageFor(model => model.InvertarioMaterialesId)
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Cantidad, new { @class = "form-control", @placeholder = "Cantidad" })
            @Html.ValidationMessageFor(model => model.Cantidad)
        </div>
        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-success" />
            @Html.ActionLink("Cancelar", "CancelarMateriales", "ProductoConfeccionado", new { ProductoConfeccionadoId = @ViewBag.ProductoConfeccionadoId }, new { @class = "btn btn-default" })
            @*@Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })*@
        </div>
    </div>
}
